.about {
  /* background: #242424; */
  background: rgb(37, 36, 33);
  padding: 4rem;
}

.about-header{
  color: white;
}

.about-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.about-img {
  position: unset;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}

.about-text-header {
  font-size: 300%;
  color:rgba(255, 255, 255, 0.5);
}

.about-text-name{
  color:rgb(255, 177, 74);
}

.about-text-wrapper {
  padding-left: 1rem;
}

.about-text{
  color: #ffffff;
}
